<html>
<header>
    <title>Página Home</title>
</header>
<body>
    <h1>Titulo da Página</h1>
        <hr>
    Opa {{ name }} você já tem {{ age }} anos?

    {{#showOld}}
        Olá , tudo bem?
    {{/showOld}}
    <hr>

    <h2> Lista de Produtos</h2>

    <ul>
        {{#products}}
            <li>{{ title }} - R$: {{ price }}</li>
        {{/products}}
    </ul>
    <br>
    <hr>

    <ul>
        {{#FrasesDoDia}}
            <li>{{.}}</li>
        {{/FrasesDoDia}}
    </ul>
</body>
</html>