<html>
<header>
    <title>Página Home</title>
</header>
<body>
    <h1>Titulo da Página</h1>
        <hr>
    Opa {{ name }} você já tem {{ age }} anos?

    {{#showOld}}
        Olá , tudo bem?
    {{/showOld}}
</body>
</html>