{{>partials/header}}
    <p>
        Opa {{ name }} {{ LastName }} tudo bem?
        {{#showOld}}
            Como vai a vida??
        {{/showOld}}

        {{^showOld}}
            Beleza?
        {{/showOld}}
        
    </p>
    <br>

    <hr>
    <h2> Lista de Produtos</h2>
        <ul>
            {{#products}}
                <li>{{ title }} - R$: {{ price }}</li>
            {{/products}}
        </ul>
    <br>

    <hr>
    <h2> Lista de Produtos Caros</h2>
        <ul>
            {{#expensive}}
                <li>{{ title }} - R$: {{ price }}</li>
            {{/expensive}}
        </ul>
    <hr>

    <ul>
        {{#FrasesDoDia}}
            <li>{{.}}</li>
        {{/FrasesDoDia}}
        {{^FrasesDoDia}}
           Não há frases do dia hoje.
        {{/FrasesDoDia}}
    </ul>

{{>partials/footer}}