{{>partials/header}}

Opa {{name}} {{lastName}}, tudo bem?
{{#showOld}}
    Como vai a vida?
{{/showOld}}
{{^showOld}}
    Beleza?
{{/showOld}}

<hr/>

<fieldset>
    <legend>Novo Usuário</legend>
    <form method="POST" action="/novousuario">
        Nome:<input type="text" name="name" placeholder="Digite um nome" /><br/><br/>
        Idade: <input type="text" name="age" placeholder="Digite uma idade" /><br/><br/>
        <input type="submit" value="Inserir Usuário" />
    </form>
</fieldset>

<h2>Usuários do Banco de Dados</h2>
<ul>
    {{#users}}
        <li>
            {{name}} - Idade: {{age}}
            - <a href='/usuario/{{id}}/mais'>+</a>
            - <a href='/usuario/{{id}}/menos'>-</a>
            - <a href='/usuario/{{id}}/excluir'>Excluir</a>
        </li>
    {{/users}}
</ul>

<hr/>
<h2>Produtos</h2>
<ul>
    {{#products}}
        {{>partials/productItem}}
    {{/products}}
</ul>

<hr/>
<h2>Filtre os Produtos por Preço</h2>
    <form method="GET" action="/">
        Valor R$:<input type="search" name="q" placeholder="Filtro de Preço" value="{{ query }}" />
    </form>
<ul>
    {{#expensives}}
        {{>partials/productItem}}
    {{/expensives}}
</ul>

<hr/>

<ul>
    {{#frasesDoDia}}
        <li>{{.}}</li>
    {{/frasesDoDia}}
    {{^frasesDoDia}}
        Não há frases motivacionais hoje.
    {{/frasesDoDia}}
</ul>

{{>partials/footer}}