* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  margin-right: 5px;
}

.fieldCad {
    width: 300px;
    margin: 2rem  0px 2rem 1.5rem;
    padding: 15px;
}

.my-table {
    border-collapse: collapse;
    width: 500px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    border: 1px solid black;
  }
  
  .my-table th, .my-table td {
    text-align: left;
    padding: 8px;
    border: 1px solid black;

  }
  
  .my-table th {
    background-color: #f2f2f2;
    color: #555;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .my-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  .container {
    background-color: #999;
    width: 100%;
    padding-top: 0.5rem;
    overflow: hidden; /* Para evitar que o conteúdo saia do container */
  }
  
  .left-div {
    float: left;
    width: 48%;
  }
  
  .right-div {
    float: right;
    width: 48%;
  }
  .filtro {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }

  .container h2 {
    text-align: center;
    
  }